@page "/"

<h2 class="pb-2">Testing Components System </h2>
<p class="pb-2 mw-1100">
   CAM Professional Technology Co.,Ltd
</p>
<div class="pb-2 mw-1100">
    <img class="fit-width" src="images/banner.png" />
</div>

<h2 class="mb-4 mt-4">Helpful Resources</h2>

<ul>
    Copyright 2024 Developered By Samrith Ratana
</ul>
